[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.1"
pyparsing = "*"
pydot = "*"
django-extensions = "*"
coverage = "*"
djangorestframework = "~=3.13"
Markdown = "*"
django-nested-admin = "*"
drf-nested-routers = "*"
drf-access-policy = "~=1.0"
drf-yasg = "*"
drf-social-oauth2 = "*"
django-cors-headers = "*"
black = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
psycopg2 = "*"
sentry-sdk = "*"
django-filter = "*"
django-hashid-field = "*"
channels = "~=3.0"
djangochannelsrestframework = "*"
celery = "==5.2.2"
django-celery-results = "==2.2.0"
channels-redis = "*"
requests = "*"
django-silk = "*"
django-auto-prefetching = "*"
drf-viewset-profiler = "*"
django-lifecycle = "*"
django-notifications-rest = "*"
django-notifications-hq = "*"
django-postgrespool2 = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
