[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.0"
pyparsing = "*"
pydot = "*"
django-extensions = "*"
pygraphviz = "*"
coverage = "*"
djangorestframework = "~=3.13"
Markdown = "*"
django-nested-admin = "*"
drf-nested-routers = "*"
drf-access-policy = "~=1.0"
drf-yasg = "*"
drf-social-oauth2 = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
